    <script src="/static/js/vendor/modernizr.js"></script>

</head>

<body>
<div class="off-canvas-wrap" data-offcanvas>
    <!-- right sidebar wrapper -->
    <div class="inner-wrap">


        <!-- Right sidemenu -->
        <div id="skin-select">
            <!--  隐藏边栏按钮 -->
            <a id="toggle">
                <span class="fa fa-exchange"></span>
            </a>
            <!--  End of 隐藏边栏按钮 -->

            <div class="skin-part">
                <div id="tree-wrap">
                    <!-- Profile -->
                    <div class="profile">
                        <img alt="" class="" src="/static/img/logo.png">
                        <h3>Foundation-Temp<small>0.1</small></h3>

                    </div>
                    <!-- End of Profile -->

                    <!-- Menu sidebar begin-->
                    <div class="side-bar">
                        <ul id="menu-showhide" class="topnav slicknav">
                            <li class="has-form bg-white">
                                <div class="dark"></div>
                                <input class="input-top" type="text" placeholder="功能搜索,如:发帖...">
                            </li>
                            <li>
                                <a id="menu-select" class="tooltip-tip" href="index.html" title="index">
                                    <i class="fa fa-home fa-fw"></i>
                                    <span>Dashboard</span>

                                </a>

                            </li>
                            <li>
                                <a class="tooltip-tip" href="#">
                                    <i class=" icon-window"></i>
                                    <span>折叠按钮1</span>

                                </a>
                                <ul>
                                    <li>
                                        <a href="#">折叠内容1</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容2</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/button" title="button">
                                    <i class="fa fa-cog"></i>
                                    <span>按钮规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/typography" title="typography">
                                    <i class="fa fa-sort-amount-desc"></i>
                                    <span>排版规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/grid" title="grid">
                                    <i class="fa fa-th"></i>
                                    <span>栅格化规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/form" title="form">
                                    <i class="fa fa-keyboard-o"></i>
                                    <span>表单规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/editor" title="Icons">
                                    <i class="fa fa-keyboard-o"></i>
                                    <span>富文本编辑器</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/table" title="table">
                                    <i class="fa fa-table"></i>
                                    <span>列表规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/tab" title="tab">
                                    <i class="fa fa-tag"></i>
                                    <span>标签规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/panel" title="panel">
                                    <i class="fa fa-file"></i>
                                    <span>面板规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/editor" title="editor">
                                    <i class="fa fa-pencil"></i>
                                    <span>富文本编辑器</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/bloglist" title="bloglist">
                                    <i class="fa fa-rss-square"></i>
                                    <span>帖子列表,类似排列</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/blogdetail" title="blogdetail">
                                    <i class="fa fa-rss"></i>
                                    <span>帖子详情</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/upload" title="upload">
                                    <i class="fa fa-rss"></i>
                                    <span>七牛云上传</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/element" title="element">
                                    <i class="fa fa-rss"></i>
                                    <span>元素规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/rabc" title="rabc">
                                    <i class="fa fa-rss"></i>
                                    <span>RABC</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/backup" title="backup">
                                    <i class="fa fa-keyboard-o"></i>
                                    <span>备份</span>

                                </a>
                            </li>


                        </ul>
                    </div>
                    <!-- end of Menu sidebar  -->
                    <ul class="bottom-list-menu">
                        <li>功能按钮1 <span class="icon-gear"></span>
                        </li>
                        <li>功能按钮2 <span class="icon-phone"></span>
                        </li>
                        <li>功能按钮3 <span class="icon-music"></span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- end of Rightsidemenu -->



        <div class="wrap-fluid" id="paper-bg">
            <!-- top nav -->
            <div class="top-bar-nest">
                <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
                    <section class="top-bar-section ">
                        <!-- Left Nav Section -->
                        <ul class="left">

                            <!-- Search | has-form wrapper -->
                            <li class="has-form bg-white">
                                <div class="row collapse">

                                    <div class="large-12 columns">
                                        <div class="dark_top"> </div>
                                        <input class="input-top" type="text" placeholder="search">
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="right">
                            <li class=" has-dropdown bg-white">
                                <a class="bg-white" href="#"><img alt="" class="admin-pic img-circle" src="http://imgcdn.tataufo.com/300x300.png"><span class="admin-pic-text text-gray">Hi, Admin </span>
                                </a>

                                <ul class="dropdown dropdown-nest profile-dropdown">

                                    <li>
                                        <i class="fa fa-user fa-fw"></i>
                                        <a href="#">
                                            <h4>Profile<span class="text-aqua fontello-record" ></span></h4>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-folder-open-o fa-fw"></i>
                                        <a href="#">
                                            <h4>Account<span class="text-blue fontello-record" ></span></h4>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-sign-out fa-fw"></i>
                                        <a href="login.html">
                                            <h4>Logout<span class="text-dark-blue fontello-record" ></span></h4>
                                        </a>
                                    </li>

                                    <!--<li class="active right">-->
                                    <!--<a href="#">-->
                                    <!--<div class="label bg-white">More</div>-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                            <li class="bg-white">
                                <a class="right-off-canvas-toggle bg-white text-gray" href="#"><span style="font-size:13px" class="fa fa-list fa-fw" ></span></a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
            <!-- end of top nav -->