<% include public/head.ejs %>
<%# 请在下方输入自定义页面css%>




<%# 请在上方输入自定义页面css%>

<!--左侧目录,顶部搜索,用户下拉-->
<% include public/sidebar.ejs %>









<%# 页面导航 自己修改 %>
<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li><a href="#"><span class="fa fa-home fa-fw"></span></a>
    </li>
    <li>Dashboard
    </li>
</ul>
<!-- end of breadcrumbs -->




<%# body 内容 %>
<!-- Container Begin -->
<div class="row">

    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="fa fa-minus"></i>
                    </span>
                    <span class="box-btn" data-widget="remove"><i class="fa fa-times"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="fa fa-bars"></i>
                    <span>BASIC</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="display: block;">

                <table style="width:100%;">

                    <tbody>
                    <tr>
                        <th>姓名</th>
                        <th>学校</th>
                        <th>登录时间</th>
                        <th>状态</th>
                    </tr>

                    <tr>
                        <td>小嗒嗒</td>
                        <td>哒哒大学</td>
                        <td>昨天</td>
                        <td><a href="#" class="tiny radius button bg-red">Red</a></td>
                    </tr>
                    </tbody>
                </table>



            </div>
            <!-- end .timeline -->


        </div>
        <!-- box -->
    </div>



</div>

<!-- End of Container Begin -->












<!--main js-->
<% include public/footer.ejs %>

<%# 请在下方输入自定义页面js%>
<script type="text/javascript">
    (function($) {
        "use strict";
        $('#example').dataTable({
            "order": [
                [2, "desc"]
            ],
            "bPaginate": true,//分页按钮
            //"bLengthChange": true,//每行显示记录数
            "bFilter": true,//搜索栏
            //"bSort": true,//排序
            "bInfo": true,//Showing 1 to 10 of 23 entries 总记录数没也显示多少等信息
            "bStateSave": true, //保存状态到cookie *************** 很重要 ， 当搜索的时候页面一刷新
//            "sUrl": "/static/lang/dataTables/de_DE.txt"  //语言修改
//            "sPaginationType": "full_numbers" //分页，一共两种样式 另一种为two_button
        });
    })(jQuery);
</script>
<%# 请在上方输入自定义页面js%>

<% include public/ending.ejs%>


